* {
    margin: 0;
    font-family: "Lato", Helvetica, sans-serif;
}

#root {
    min-height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 1080px;
}

#splash-body {
    height: 850px;
    width: 100%;
}

.panel-one {
    margin: 1px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 1080;
    width: 100%;
}

.panel-one-video {
    margin-top: 4em;
    opacity: 1;
    transition: .4s .2s;
    width: 100%;
    min-width: 1080px;
    z-index: -1;
}

.panel-one-description {
    /* width: 630px;
    height: 350px;
    z-index: 10;
    position: absolute;
    bottom: 50px;
    right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 0; */

    width: 630px;
    height: 350px;
    z-index: 10;
    position: absolute;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.panel-one-description h1 {
    font-size: 2.8em;
    font-weight: 400;
    margin-top: 15px;
    color: white;
    text-shadow: 2px 2px 2px rgb(25, 24, 24);
}

.beautsy-splash-name {
    font-size: 4em;
    font-family: serif;
    margin-top: 15px;
    color: rgb(127, 142, 123);
    font-weight: bold;
    text-shadow: 4px 4px 4px rgb(255, 251, 251);
}

.panel-one-description p {
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 1em;
    color: white;
    text-shadow: 2px 2px 2px rgb(25, 24, 24);
    letter-spacing: 1.5px;
}

.both-splash-btns {
    display: flex;
    flex-direction: row;
}

#all-products-btn, .splash-demo-btn {
    padding: 10px;
    font-size: 1em;
    font-weight: 300;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 2px rgb(25, 24, 24);
    margin-left: 20px;
}

#all-products-btn:hover, .splash-demo-btn:hover {
    cursor: pointer;
}

/* .panel-two {

} */

.container-wide {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 30px auto;
}


.grid-one img {
    height: 600px;
    width: 400px;
    margin-top: 10px;
}

.grid-two img {
    height: 600px;
    width: 400px;
    margin-top: 10px;
}

.grid-three img {
    height: 600px;
    width: 400px;
    margin-top: 10px;
}

.grid-column a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 0.75em;
}
