.nav-category-container {
    top: 80px;
    height: 50px;
    z-index: 100;
    margin-bottom: 5px;
}

.nav-category-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.category-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.category-nav>a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.category-nav>a:hover {
    color: rgb(97, 137, 97);
}


/* beautsy logo words */
/* .nav-logo a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
} */
